gitignore/
node_modules/*

public/
!public/locales/
!public/docs/

components/*.js
!components/index.js

componentEditors/*.js
!componentEditors/index.js

data/*.js
!data/index.js

runtime/*.js
!runtime/index.js
