doctype html
html
  head
    title Docs browser
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="index.css")

  body
    nav
      h1 Docs browser
      ul

    iframe

    script(src="/client/SupClient.js")
    script(src="/api/SupAPI.js")
    script(src="index.js")
