doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="../../textEditorWidget/index.css")
    link(rel="stylesheet",href="index.css")

  body
    .text-editor-container
      textarea(disabled).text-editor

    .error-pane
      .status
        .draft
          button(title="Apply changes (Ctrl+S)" disabled) Saved
        .errorInfo 

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/api/SupAPI.js")
    script(src="../../api.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="../../textEditorWidget/index.js")
    script(src="index.js")
