@import "nib"

// see also in ../textEditorWidget/index.stly

// for the trailing space addon
.cm-trailingspace
  background-color rgba(255,0,0,0.7)

.cm-matchhighlight
  background-color rgba(200,200,200,0.5)
  
body
  display flex
  flex-direction column
  flex 1

.text-editor-container
  min-height 100px

.line-error
  background-color rgba(232, 86, 86, 0.5)

.line-error-gutter
  color #ec5050
  font-size 16px
  padding-left 5px
  margin-top -2px

.error-pane
  display flex
  flex-flow column

  .status
    background-color #444
    color #fff
    display flex
    align-items center
    height 30px

    &.has-draft
      background-color #37d

    &.has-errors
      cursor pointer
      background-color #a44

    .draft
      padding-left 0.25em
      color rgba(255,255,255,0.5)

    .errorInfo
      flex 1
      padding 0.5em

  &.collapsed
    min-height 0
    height auto !important
